:root {
  --yellow-primary-color: #fdda76;
  --yellow-secondary-color: #f9c74f;
  --black-primary-color: #252525;
  --black: #000000;
  --white-primary-color: #d9d9d9;
  --white-secondary-color: #ebebeb;
  --red: #b41111;
  --blue: #2974d7;
  --green: #39862f;
}

html,
body {
  max-height: 100vh;
}

.centroFuncionario {
  height: calc(100vh - 80px);
  width: 100%;
}

.CadastroFuncionario {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: grid;
  justify-content: center;
}

.CadastroFuncionario h1 {
  font-size: 3rem;
  color: var(--white-secondary-color);
}

.formCadastroFuncionario {
  display: grid;
  grid-template-columns: repeat(3, 180px);
  grid-template-rows: repeat(7, 80px);
  row-gap: .1rem;
  column-gap: 3rem;
}


.inputCadastroFuncionario {
  background-color: var(--white-secondary-color);
  border: none;
  height: 60px;
  border-radius: 0.5rem;
  width: 210px;
  font-size: 1.5rem;
}

.inputCadastroFuncionario::placeholder {
  color: var(--black-primary-color);
  font-size: 1rem;
}

.selectCadastroFuncionario {
  border: none;
  background-color: var(--white-secondary-color);
  font-size: 1rem;
  width: 210px;
  color: var(--black-primary-color);
  border-radius: 0.5rem;
  height: 60px;
}

.buttonsGroupFuncionario {
  display: flex;
  width: 500px;
  justify-content: space-around;
  gap: 2rem;
}

.btnFuncionario {
  border: none;
  color: var(--black-primary-color);
  text-align: center;
  font-size: 1rem;
  width: 200px;
  height: 60px;
  cursor: pointer;
  border-radius: 0.8rem;
}

.btnVoltarFuncionario {
  background-color: var(--red);
}

.btnSalvarFuncionario,
.btnEditarFuncionario {
  background-color: var(--green);
}

.btnEtiquetaFuncionario {
  background-color: var(--blue);
}

.btnClonarFuncionario {
  background-color: var(--yellow-primary-color);
}

.linkEditarFunc {
  text-decoration: none;
  color: var(--black-primary-color);
  font-size: 2rem;
}


.top-nav {
  position: absolute;
  right: 40px;
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;
  margin: 2rem 0;
  box-sizing: border-box;
}

.top-nav-buttons {
  display: flex;
  gap: 0.7rem;
}

.top-nav-button {
  cursor: pointer;
  width: 75px;
  height: 50px;
  border-radius: 0.8rem;
  align-items: center;
  border: none;
}

.top-nav-img {
  width: 100%;
  height: 100%;
}

.lupa {
  background-color: var(--white-secondary-color);
}

.lixo {
  background-color: var(--red);
}

.olhoFechado {
  background-color: var(--blue);
}

.olhoAberto {
  background-color: var(--blue);
}

.editar {
  background-color: var(--green);
}

.clonar {
  background-color: var(--yellow-primary-color);
}

.inputPesquisar {
  background-color: var(--white-secondary-color);
  border-radius: 0.8rem;
  border: none;
  opacity: 0;
  width: 0;
  transition: width 0.5s ease-out, opacity 0.5s ease-out;
  right: 740px;
  height: 48px;
  font-size: 1.5rem;

}

.inputPesquisar.visivel {
  opacity: 1;
  width: 160px;
  height: 48px;
}

.ListagemFuncionario {
  width: 100%;
  height: calc(100vh - 80px);
  overflow-y: auto;
  display: grid;
  justify-content: center;
}	
.ListagemFuncionario h1{
  font-size: 3rem;
  color: var(--white-secondary-color);
  display: flex;

  justify-content: center;
}
.scrollFuncionario {
  background-color: var(--white-primary-color);
  width: 1000px;
  height: calc(100vh - 280px);
  color: var(--black-primary-color);
  border: 1px solid var(--black-primary-color);
  margin: 2rem 16rem;
  padding: 0;
  overflow-y: auto;
  display: block;
}
.tableFuncionario {
  background-color: var(--white-primary-color);
  width: 100%;
  height: auto;
  color: var(--black-primary-color);
  border: 1px solid var(--black-primary-color);
  padding: 0;
  overflow-y: auto;
}
tbody,
thead {
  width: 100%;
}
th,
tr,
td,
tbody,
thead {
  border: 1px solid var(--black-primary-color);
  margin: 0;
  gap: 0;
  padding: 3px;
  font-size: 20px;
}


.centroDetalhesFuncionario {
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contentDetalhesFuncionario {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.DetalhesFuncionario {
  
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: grid;
  justify-content: center;
}

.DetalhesFuncTitulo {
  font-size: 2rem;
  color: var(--white-secondary-color);
  margin-bottom: 1rem;
}

.divDetalhesFuncionario {
  display: grid;
  grid-template-columns: repeat(2, 280px);
  grid-template-rows: repeat(6, 80px);
  row-gap: .1rem;
  column-gap: .5rem;
}


.inputDetalhesFuncionario {
  background-color: var(--white-secondary-color);
  border: none;
  height: 60px;
  border-radius: 0.5rem;
  width: 260px;
  color: var(--black-primary-color);
  font-size: 1.5rem;
}

.buttonsGroupDetalhesFuncionario {
  display: flex;
  width: 500px;
  justify-content: space-around;
}

.btnDetalhesFuncionario {
  border: none;
  color: var(--black-primary-color);
  text-align: center;
  font-size: 2rem;
  width: 200px;
  height: 60px;
  cursor: pointer;
  border-radius: 0.8rem;
  margin: 0.5rem;
}

.VendasFuncionario {
  width: 800px;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.detalhesFuncionarioTabela {
  
  width: 100%;
  min-width: 750px;
  border-collapse: collapse;
  margin-top: 1rem;
  max-height: 500px;
  overflow-y: auto;
  display: block;
  background-color: var(--white-primary-color);
  
}

.detalhesFuncionarioTabela th,
.detalhesFuncionarioTabela td {
  border: 1px solid #ccc;
  font-size: 1.5rem;
  width: 200px;
  padding: 8px 10px;
  text-align: center;
  color: var(--black-primary-color);
}

.detalhesFuncionarioTabela th {
  background: #fdda76;
}

.detalhesFuncionarioTotal th,
.detalhesFuncionarioTotal td {
  color: var(--black-primary-color);
  text-align: center;
  font-size: 1.5rem;

}
.detalhesFuncionarioTotal th{
  grid-template-areas: span 2;
}
.btnDetalharVendaFuncionario {
  background-color: var(--yellow-secondary-color);
  border: none;
  border-radius: 0.8rem;
  width: 180px;
  height: 40px;
  cursor: pointer;
  font-size: 1.4rem;
  margin: 0 4px;
}

.btnDetalharVendaFuncionarioLink {
  text-decoration: none;
  color: var(--black-primary-color);
}

.centroEditarFuncionario {
  height: calc(100vh - 80px);
  width: 100%;
}

.EditarFuncionario {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: grid;
  justify-content: center;
}

.EditarFuncionario h1 {
  font-size: 3rem;
  color: var(--white-secondary-color);
}

.divEditarFuncionario {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  grid-template-rows: repeat(5, 80px);
  row-gap: .1rem;
  column-gap: 3rem;
}



.inputEditarFuncionario {
  background-color: var(--white-secondary-color);
  border: none;
  height: 60px;
  border-radius: 0.5rem;
  width: 210px;
  font-size: 1.5rem;
}

.inputEditarFuncionario::placeholder {
  color: var(--black-primary-color);
  font-size: 1.5rem;
}

.selectEditarFuncionario {
  border: none;
  background-color: var(--white-secondary-color);
  font-size: 1rem;
  width: 210px;
  color: var(--black-primary-color);
  border-radius: 0.5rem;
  height: 60px;
}

.buttonsGroupFuncionario {
  display: flex;
  width: 500px;
  justify-content: space-around;
  gap: 2rem;
}

.btnFuncionario {
  border: none;
  color: var(--black-primary-color);
  text-align: center;
  font-size: 1rem;
  width: 200px;
  height: 60px;
  cursor: pointer;
  border-radius: 0.8rem;
}

.btnVoltarFuncionario {
  background-color: var(--red);
}

.btnSalvarFuncionario,
.btnEditarFuncionario {
  background-color: var(--green);
}

.btnEtiquetaFuncionario {
  background-color: var(--blue);
}

.btnClonarFuncionario {
  background-color: var(--yellow-primary-color);
}

