:root {
  --yellow-primary-color: #fdda76;
  --yellow-secondary-color: #f9c74f;
  --black-primary-color: #252525;
  --black: #000000;
  --white-primary-color: #d9d9d9;
  --white-secondary-color: #ebebeb;
  --red: #b41111;
  --blue: #2974d7;
  --green: #39862f;
}

html,
body {
  max-height: 100vh;
}

.CadastroProduto {
  padding: 0 10rem;
  overflow-y: auto;
  margin-left: 400px;
  margin-top: 80px;
}

.CadastroProduto h1 {
  margin-bottom: 3rem;
  margin-left: 2rem;
  color: var(--white-secondary-color);
}

.formCadastro {
  display: inline-block;
  padding: 2rem 2rem;
  width: 400px;
  height: 240px;
  display: grid;
  grid-template-columns: repeat(2, 180px);
  flex-direction: column;
  row-gap: 1rem;
  column-gap: 2rem;
  /* background-color: var(--black-primary-color); */
}

.inputId {
  position: absolute;
  width: 75px;
  height: 45px;
  left: 593px;
  top: 245px;
}

.inputCadastro {
  background-color: var(--white-secondary-color);
  border: none;
  border-radius: .5rem;
}

.inputCadastro::placeholder {
  color: var(--black-primary-color);
  font-size: 1rem;
}

inputDetalhes
.selectCadastro {
  border: none;
  background-color: var(--white-secondary-color);
  font-size: 1rem;
  color: var(--black-primary-color);
  border-radius: .5rem;

}

.buttonsGroup {
  display: flex;
  position: absolute;
  width: 500px;
  justify-content: space-around;
  margin-top: 20rem;
  gap: 2rem;
  margin-left: 2rem;
}

.btn {
  border: none;
  color: var(--black-primary-color);
  text-align: center;
  font-size: 1rem;
  width: 200px;
  height: 50px;
  cursor: pointer;
  border-radius: .8rem;
}

.btnVoltar {
  background-color: var(--red);
}

.btnSalvar, .btnEditar {
  background-color: var(--green);
}

.btnEtiqueta {
  background-color: var(--blue);
}

.btnClonar {
  background-color: var(--yellow-primary-color);
}

.linkCadastro {
  text-decoration: none;
  color: var(--black-primary-color);
  font-size: 1rem;
}




.top-nav {
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;
  margin: 2rem 0;
  box-sizing: border-box;
}

.top-nav-buttons {
  display: flex;
  gap: 0.7rem;
}

.top-nav-button {
  cursor: pointer;
  width: 75px;
  height: 50px;
  border-radius: .8rem;
  align-items: center;
  border: none;
}

.top-nav-img {
  width: 100%;
  height: 100%;
}

.lupa {
  background-color: var(--white-secondary-color);
}

.lixo {
  background-color: var(--red);
}

.olhoFechado {
  background-color: var(--blue);
}

.olhoAberto {
  background-color: var(--blue);
}

.editar {
  background-color: var(--green);
}

.clonar {
  background-color: var(--yellow-primary-color);
}

.inputPesquisar {
  background-color: var(--white-secondary-color);
  border-radius: 0.8rem;
  border: none;
  opacity: 0;
  width: 0;
  transition: width .5s ease-out, opacity .5s ease-out;
  right: 740px;
  height: 48px;
}

.inputPesquisar.visivel {
  opacity: 1;
  width: 160px;
  height: 48px;
}
.scroll{
  background-color: var(--white-primary-color);
  width: 1000px;
  height: 600px;
  color: var(--black-primary-color);
  border: 1px solid var(--black-primary-color);
margin: 2rem 16rem;
  padding: 0;
  overflow-y: auto;
  display: block;

}
.tableProduto {
  background-color: var(--white-primary-color);
  width: 100%;
  color: var(--black-primary-color);
  border: 1px solid var(--black-primary-color);
  padding: 0;
  overflow-y: auto;

}
tbody, thead{
  width: 100%;
}
th,
tr,
td,
tbody,
thead {
  border: 1px solid var(--black-primary-color);
  margin: 0;
  gap: 0;
  padding: 3px;
  font-size: 20px;

}



.DetalhesProduto {
  padding: 0 6rem;
  overflow-y: auto;

}

.DetalhesProduto h1 {
  margin-bottom: 3rem;
  color: var(--white-secondary-color);
}

.divDetalhes {
  display: inline-block;
  padding: 1rem ;
  width: 400px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(2, 240px);
  flex-direction: column;
  row-gap: 1rem;
  column-gap: 2rem;
    margin-left: 300px;
  margin-top: 20px;
  /* background-color: var(--black-primary-color); */
}
  
.btnDetalhes{
    border: none;
    color: var(--black-primary-color);
    text-align: center;
    font-size: 1rem;
    width: 200px;
    height: 50px;
    cursor: pointer;
    border-radius: .8rem;
}

.buttonsGroupDetalhes {
  display: flex;
  width: 400px;
  margin-top: 1rem;
  justify-content: space-around;
  gap: 2rem;
    margin-left: 375px;
  margin-top: 20px;

}
.inputDetalhes {
  background-color: var(--white-secondary-color);
  border: none;
  border-radius: .5rem;
  color: var(--black-primary-color);
  font-size: 1rem;
}






.EditarProduto {
  padding: 0 8rem;
  overflow-y: auto;
  margin-left: 400px;
  margin-top: 20px;
}

.EditarProduto h1 {
  margin-bottom: 3rem;
  margin-left: 2rem;
  color: var(--white-secondary-color);
}

.divEditar {
  display: inline-block;
  padding: 1rem ;
  width: 400px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(2, 220px);
  flex-direction: column;
  row-gap: 1rem;
  column-gap: 2rem;
  /* background-color: var(--black-primary-color); */
}
  
.btnEditar{
    border: none;
    color: var(--black-primary-color);
    text-align: center;
    font-size: 1rem;
    width: 200px;
    height: 50px;
    cursor: pointer;
    border-radius: .8rem;
}

.buttonsGroupEditar {
  display: flex;
  width: 400px;
  margin-left: 75px;
  margin-top: 1rem;
  justify-content: space-around;
  gap: 2rem;

}
.inputEditar {
  background-color: var(--white-secondary-color);
  border: none;
  border-radius: .5rem;
  color: var(--black-primary-color);
  font-size: 1rem;
  padding: .8rem .4rem;
}